body {
  font-family: 'Montserrat';
  text-align: center;
}

h1, h2, h3, h4, h5, h6 {  
  font-family: 'Montserrat', sans-serif;  
}

p {
  color: #8f8f8f;
  font-family: 'Monserrat', sans-serif;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: white;
}

.white-section {
  background-color: #fff;
}

/* Headings */

.big-heading {
  font-size: 3.5rem;  
  line-height: 1.5; 
  font-weight: 900;
}

#title {
  text-align: left;
}

.container-fluid {
  padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
  padding-bottom: 4.5rem;;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Monserrat', sans-serif;
}

/* Download Buttons */

.download-button {
  margin: 5% 3% 5% 0;
  font-weight: lighter;
}

/* Title Image */
.title-image {
  width: 60%;
  transform: rotate(20deg);
  position: relative;
  margin-bottom: -45%;
  left: 15%;
  right: 30%;
}

/* Features */

#features {
  padding: 5% 15%;
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
  font-weight: bold;
}
.feature-box {
  padding: 5%;
}

.icon {
  color: #ef8172;
  font-size: 5rem;
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* Testimonial Section */

#testimonials {
  background-color: #ef8172;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.carousel-item {
  padding: 5% 15%;
}

.testimonial-text {
  font-size: 2.7rem;
  line-height: 1.5;
}

/* Press Section */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

/* Pricing Section */

.section-heading {
  font-size: 2.7rem;
  line-height: 1.5;
}

#pricing {
  padding: 100px;
}

.pricing-column {
  padding: 3% 2%;
}

.price-text {
  font-size: 2.7rem;
  line-height: 1.5;
}
/* Call to Action Section */

#cta {
  padding: 7% 15%;
}


/* Footer Section */

#footer {
  line-height: 1.5rem;
  padding: 7% 15%;
}

.social-icons {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  margin-right: 1rem;
}
/* Media Query */

@media (max-width:1028px) {
  #title {
    text-align: center;
  }
  .title-image {
    position: static;
    transform: rotate(0);
  }
}